---
---

@charset 'utf-8';

@import '/res/variables.scss';

$border-black: solid 0.1rem $black;
$border-gray: solid 0.1rem $gray;
$border-white: solid 0.1rem $white;
$max-width: 34rem;

body {
  max-width: $max-width;
}
#XHEEOREH {
  background: $lightgray;
  border-bottom: $border-gray;
  border-left: $border-white;
  border-right: $border-gray;
  border-top: $border-white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.95rem 8rem 5rem 2rem 2rem 4rem 2rem 7rem 1.95rem;
  grid-template-rows: 1.95rem 2rem 2rem 2rem 2rem 2rem 1.95rem;
  height: 14rem;
  width: $max-width;
  button:active, input, span {
    border-bottom: $border-white;
    border-left: $border-gray;
    border-right: $border-white;
    border-top: $border-gray;
  }
  button, input {
    font: inherit;
    outline: 0;
    padding: 0;
  }
  button {
    background: $lightgray;
    border-bottom: $border-gray;
    border-left: $border-white;
    border-right: $border-gray;
    border-top: $border-white;
    text-align: center;
  }
  input {
    text-align: right;
  }
  span {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
#YR6JWQam {
  border-collapse: collapse;
  width: $max-width;
  thead {
    border-bottom: $border-black;
    border-bottom-style: double;
    text-align: center;
  }
  td, th {
    border: $border-black;
    min-width: 2rem;
  }
  td {
    text-align: right;
  }
}
